.projects {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8rem;
    gap: 3rem;
    padding-top: 1rem;
  }

  .project-containor{
    width: 100%;
    height: auto;
    padding-top: 6.5rem;
  }
  
  .project {
    width: 45%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }

  .project-containor h2{
    text-align: center;
    font-size: 2.5rem;
  }
  
  .project img {
    width: 80%;
    height: 4rem;
    height: auto;
    margin-top: 1rem;
    border: none;
    border-radius: 1.5rem;
    
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 50%;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  @media(max-width:676px){
    .project {
      width: 100%;
      margin-right: 3rem;
    }
  }
  