/* contactForm.css */

.contact-from-content {
    max-width: 400px;
    margin: 0 auto;
    margin-left: -2rem;
  }
  
  .name-details {
    display: flex;
    justify-content: space-between;
    gap: 1.45rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1.5px solid blue ;
    border-radius: 0.8rem;
    color: aliceblue;
  }

  textarea{
    grid-auto-rows: auto;
  }
  
  button {
    width: 100%;
    background-color: #3b0875;
    color: white;
    padding: 10px 20px;
    border: 1.5px solid rgb(147, 147, 199);
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0e032c;
  }
  
@media (max-width:734px){
    .contact-from-content{
        margin-top: 12rem;
        margin-left: -14.59rem;
        width: 25rem;
    }
}
  